/* Style for Password Generator */
* {
  box-sizing: border-box;
}
body {
  background-image: url(img/code-img.jpg);
  color: #fff;
  display: flex;
  font-family: "Muli", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-height: 100vh;
}
#container {
  background-color: #6d6df5;
  box-shadow: 5px 5px 10px#2c19dd;
  border-radius: 5%;
  padding: 20px;
  width: 350px;
  max-width: 100%;
}
input {
  border-radius: 5px;
}
.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0;
}
input[type="checkbox"] {
  margin-right: 0;
  width: 50px;
  height: 20px;
}
input[type="number"] {
  margin-right: 12px;
  width: 40px;
  height: 20px;
}
.password-field {
  background-color: #595983;
  width: 100%;
  min-height: 20px;
  border: solid 2px #1ba52e;
  border-radius: 4px;
}
.result {
  padding: 10px 15px;
  width: 80%;
  min-height: 40px;
}
.copy-password {
  border-radius: 5px;
  margin-right: 5px;
}
#generate {
  width: 80%;
  text-align: center;
  margin: 0 30px;
  padding: 8px;
  min-height: 30px;
  border-radius: 5px;
  font-size: 1.2rem;
}
#generate:hover {
  transform: scale(1.02);
  background-color: #ec2e97;
  outline: #4b042b solid 2px;
}
